/* GLOBAL STYLES */

:root {
  --cararra: #e8e8e1;
  --sorrell: #caaf88;
  --pewter: #99aa9c;
  --forest: #3f664a;
  --boulder: #797676;
  --mineshaft: #363434;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cararra);
  font-family: "Work Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Crimson Text", serif;
}

h1 {
  font-size: 2rem;
  text-shadow: 1px 1px 2px var(--boulder);
}

.home-icon:hover {
  cursor: pointer;
}

.wrapper {
  width: 50%;
}

@media only screen and (max-width: 1000px) {
  .wrapper {
    width: 65%;
  }
}

@media only screen and (max-width: 800px) {
  .wrapper {
    width: 80%;
  }
}
