nav {
  width: 100%;
  position: fixed;
  top: 0;
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-icon {
  width: 50px;
  height: 50px;
  padding-left: 2em;
}

/* home-icon */
nav > a {
  flex: 1;
}

.right {
  flex: 1;
}

nav > ul {
  list-style-type: none;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}

nav > ul > li {
  align-self: center;
}

nav > ul > li > a {
  text-decoration: none;
  color: black;
  text-decoration: none;
  height: auto;
  display: block;
}

h1 {
  display: none;
}
